<div  *ngIf="appMode === 'browser'">
    <img [src]="images[currentIndex]" (mousemove)="onMouseMove($event)" alt="Current Image" />
    <div style="display: flex; justify-content: space-evenly;">
        <div class="dot" *ngFor="let item of images;  
            let i = index" (click)="cnageImageDot(i)" [ngClass]="{'current-dot': i === currentIndex}">
        </div>
    </div>
</div>
<div *ngIf="appMode ==='mobile'" data-flickity='{ "wrapAround": true }' style="margin-bottom: 20px;">
    <img *ngFor="let item of images" alt="" [src]="item">
</div>