<div id="workshop-title">
    <h1 style="color:#5041BC;font-size: 30px;">Моя мастерская</h1>
   <ng-content id="browser-btn"></ng-content>
</div>
<div id="workshop-info" *ngIf="workshopData">
    <text-element class="workshop-el"  label="Название:" [value]="workshopData.name"></text-element>
    <text-element class="workshop-el" label="Город:" [value]="workshopData.city"></text-element>
    <text-element class="workshop-el" label="Адресс:" [value]="workshopData.address"></text-element>
</div>
<accordion-component header="Сотрудники">
   
    <div class="user-cart" *ngFor="let user of users">
        
        <text-element label="Имя:" [value]="user.userProfile.firstName"></text-element>
        <text-element label="Фамилия:" [value]="user.userProfile.lastName"></text-element>
    </div>
</accordion-component>