<div *ngIf="shouldShowElement">
  <app-header></app-header>
  <div class="container">
    <div class="main">
      <app-tree></app-tree>
      <div class="blog">
        <router-outlet> </router-outlet>
      </div>
    </div>
  </div>
</div>
<mat-drawer-container
  *ngIf="!shouldShowElement"
  class="example-container"
  autosize
>
  <mat-drawer #drawer class="example-sidenav" mode="over" >
    <app-tree class="tree"></app-tree>
    <app-header-auth class="login"></app-header-auth>
  </mat-drawer>

  <div class="example-sidenav-content container">
    <app-header (click)="drawer.toggle()"></app-header>
    <router-outlet > </router-outlet>
  </div>
</mat-drawer-container>
