<div *ngIf="AppMode === 'browser'">
  <app-header></app-header>
  <div class="container">
    <div class="main">
      <app-tree></app-tree>
      <div class="blog">
        <router-outlet> </router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- Снизу код для мобильного приложения. -->
<mat-drawer-container
*ngIf="AppMode === 'mobile'"
  class="example-container"
  autosize
>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-tree class="tree"></app-tree>
    <app-header-aut-profile></app-header-aut-profile>
  </mat-drawer>

  <div class="example-sidenav-content container">
    <div class="mobile-menu">
      <div>
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <app-header></app-header>
    </div>
    <router-outlet> </router-outlet>
  </div>
</mat-drawer-container>
