#header{
  padding: 15px 0 15px 0;
}

#logo{
  width: 70px;
}

#header-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 769px) {
  app-header-auth{
      display:none;
  }
}
