#tree-block{
  text-align: center;
  width: 250px;
  background-color: #FFFFFF;
  border-radius: 10px ;
  height: 100%;
}
#menu-title{
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}
@media (max-width: 769px) {
  #tree-block {
      height: 86%;
  }
}
@media (min-width:769px){
  mat-list {
      position: sticky;
      top: 75px;
    }
}