#user-profil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#user-img{
    margin-right: 15px ;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #4f41bc;
}
#user-data{
    margin-right: 10px;
    text-align: center;
}