.tree-block{
    text-align: center;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 10px ;
    height: 100%;
}
.active{
    background-color: #4f41bc3f;
    color: #5041BC;
    border-radius: 5px;
}
.menu-title{
    font-size: 18px;
    padding: 10px;
    margin: 10px;
}
@media (max-width: 769px) {
    .tree-block {
        height: 90%;
    }
}