/* You can add global styles to this file, and also import other style files */
body,html { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f1f0f0;
  height: 100%;}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px 0 15px;
}

@media  ( max-width: 769px){
  .disable{
    display: none;
   } 
}
.flickity-button{
  display: none;
}